$colorWhiteSmoke: #f5f5f5;
$colorGrayLight: #d8d8d8;
$colorGrayDarkBold: #383838;
$colorWhite: #ffffff;
$colorGrayDark: #9b9b9b;
$colorLightGreen: #caffa0;

@font-face {
  src: url("fonts/OnestRegular1602-hint.woff");
  font-family: "onest";
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url("fonts/OnestMedium1602-hint.woff");
  font-family: "onest";
  font-weight: 500;
  font-style: normal;
}
